@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: 'Inter', sans-serif ;
}

.dark{
  color-scheme: dark;
}

html{
  scroll-behavior: smooth;
}